.c-filtro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 70px;
  }
  
  .c-filtro button {
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .c-filtro button:hover {
    background-color: #ddd;
  }
  
  .c-filtro button:active {
    background-color: #ccc;
  }
  
  ul {
    padding-left: 1.5rem;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 18px;
    list-style: none;
  }
  